body {
    height:100%;
    
}
#first {
    display:block;
    text-align: center;
    background-image: url("images/landing.jpg");
    background-repeat: no-repeat;
    height:100%;;
    background-size: cover;
    background-position: center;
    margin-bottom:0px;
}
 #first > p {
   position:relative;
   bottom:25px;
}

/*#Happy {
    display:inline-block;
}

.flex-container {
    
    display:flex;
    align-items: center;
}
.meals , #Happy{
    display:inline;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: stretch;
}

#breakfast {
    background-image: url("images/breakfast.jpg");
    background-repeat:no-repeat;
    text-align: center;
    height:200px;
    width:400px;
    background-size: cover;
    



}
#lunch{
    background-image: url("images/lunch.jpg");
    background-repeat: no-repeat;
    text-align: center;
    height:200px;
    width:400px;
    background-size: cover;
    

}
#dinner{
    background-image: url("images/dinner.jpg");
    background-repeat: no-repeat;
    text-align: center;
    height:200px;
    width:400px;
    background-size: cover;*/

    

}
.meals {
    background-size:100%;
}
.column {
    float: left;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin:0 auto;
    margin-top:0px;
  }
  .one {
      height:300px;
      width:25%;
      background-size: cover;
  }
  .two {
    background-image: url("images/breakfast.jpg");
      height:300px;
      width:25%;
      background-size: cover;
      text-align: center;
      line-height: 300px;
      font-style:italic;
      font-size:30px
    
  }
  .three {
    background-image: url("images/lunch.jpg");
      height:300px;
      width:25%;
      background-size: cover;
      text-align: center;
      line-height: 300px;
      font-style: italic;
      font-size:30px;
    
  }
  .four {
    background-image: url("images/dinner.jpg");
      height:300px;
      width:25%;
      background-size: cover;
      text-align:center;
      line-height:300px;
      font-style: italic;
      font-size: 30px;
  }
  .up {
      text-align: center;
      line-height: 150px;
      background-color: rgb(216, 204, 204);
      height:150px;
      font-size: 30px;

  }
  .down{
      text-align: center;
      line-height:150px;
      background-color: #F15A29;
      height:150px;
      font-size:30px;
  }

  table{
      margin: 0px 200px;
      border:2px;
      padding:5px;
      box-shadow:0 0 10px 5px rgb(212, 210, 210);
      overflow:auto;
      float:left;
      clear:both;
      display:flex;
      justify-content: space-between;
  }
   .fastfood {
    margin:200px;
    
      
   }

   .paragraph {
       padding:0px;
       position:relative;
       margin:20px;
   }

   .images {
       margin:0px 200px;
       border:2px;
       padding:5px;
       box-shadow:0 0 10px 5px rgb(212, 210, 210);
       width: 492px;
       overflow:auto;
       display:flex;
       float:right;
       clear:both;
   }

   #paragraph2 {
       margin-left: 400px ;
       text-align:right;
   }
    .burgers{
       background-image: url("images/foodsBg.jpg");
       background-size: auto;
       background-repeat: no-repeat;
       background-position: center;
       width:75%;
       margin:150px;
       padding-left:200px;
       padding-top:125px;
       height:500px;
       border:10px white;
    }

    .customermenu {
        box-sizing: ;
        box-shadow: 2px 2px 10px rgb(238, 231, 231);
        margin:60%;
        width:50%;
        height:80%;
        padding-right:100px;
        Display:inline; 
    }

    #menu {
        width:30%;
    }
    .subscribe {
        background-image: url("images/subscribe.jpg");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        margin:100px 100px;
        height:400%;
        padding:400px;
    }
    #email {
        font-size:20px;
        text-align: center;

    }
    #box > p{
         display:inline;
         text-align: center;
    }

    #p1 {
        margin-right:50%;
        padding:10px 60px;
        background-color: rgb(248, 244, 244);
    }

    #p2 {
        margin-left:0%;
        padding:10px 20px;
        background-color: #F15A29;
    }

    .footer {
        background-color: #F15A29;
    }